<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ipsa numquam necessitatibus rerum 
            veritatis ea cum, amet non optio natus hic adipisci, vel obcaecati corporis voluptas id molestiae 
            velit tenetur.Tempora facere ut illum quibusdam assumenda laudantium quaerat cum ipsam labore. 
            Dolores ex accusantium deserunt! Rerum doloremque, odit unde, error explicabo quas sint iste commodi 
            cum consequuntur aperiam blanditiis! Aliquid?
        </p>
    </div>
</div>