<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p class="">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui voluptatibus quae totam eaque, 
        ducimus repudiandae aperiam ad asperiores incidunt assumenda veniam architecto ex consequuntur a tempora 
        iusto soluta magnam. Alias. Obcaecati illo maxime quas beatae modi omnis tempore eum aliquid repellendus 
        itaque! At vel nihil aspernatur vero voluptates animi quia officia autem sed facilis, harum optio, alias 
        ipsam dolorum quidem.
    </p>
    <a href="https://google.com.co" class="btn btn-primary btn-lg" target="_blank">Google</a>
</div>