{% extends 'layout.html' %}

{% block content %}


<div class="row p-4">
    <div class="col-md-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span>{{message}}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="card card-body">
            <form action="/add_contact" , method="POST">
                <div class="form-group">
                    <input type="text" name="fullname" placeholder="Fullname" autofocus class="form-control">
                </div>
                <div class="form-group">
                    <input type="tel" name="phone" placeholder="Phone" class="form-control">
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email" class="form-control">
                </div>
                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-block btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-7">
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <th>Fullname</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                <tr>
                    <td>{{ contact.1 }}</td>
                    <td>{{ contact.2 }}</td>
                    <td>{{ contact.3 }}</td>
                    <td>
                        <a href="/edit/{{contact.0}}" class="btn btn-secondary btn-sm">Edit</a>
                        <a href="/delete/{{contact.0}}" class="btn btn-danger btn-sm delete">Delete</a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% endblock %}
