body {
    margin: 0;
    padding: 0;
    background: #C33764;    
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);    
    background: linear-gradient(to right, #1D2671, #C33764);    
}

#content{
    display: none;
}